@CHARSET "UTF-8";
	.row {
		float: left;
	}
	.row_end {
		clear: both;
	}
	.cell {
		height: 20px;
		width: 20px;
		border: 1px solid #000;
	}
	.empty {
		background-color: #fff;
	}
	.marked {
		background-color: #0f0f0f;
	}
	.point {
		height: 8px;
		width: 8px;
		background-color: #0f0f0f;
		border: 7px solid #fff;
	}
	#field {
	    margin: 0px;
	}
	.columnValue {
		height: 200px;
		width: 20px;
		border: 1px solid #000;
	}
	.rowValue {
		width: 200px;
		height: 20px;
		border: 1px solid #000;
	}
